@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_EmptyLayout";
}

<div class="login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/" class="h1">gachigram</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Username" placeholder="Username" class="form-control" />

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" placeholder="Password" class="form-control" />

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary btn-block" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign in using @provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                </div>

                <a class="text-center" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register a new membership</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var tokenKey = "accessToken";
        
        async function getTokenAsync() {
            const formData = new FormData();
            formData.append("grant_type", "password");
            formData.append("username", document.getElementById("username").value);
            formData.append("password", document.getElementById("password").value);

            const response = await fetch("/token", {
                method: "POST",
                headers: {"Accept": "application/json"},
                body: formData
            });
            
            const data = await response.json();
            
            if (response.ok === true) {
                // сохраняем в хранилище sessionStorage токен доступа
                sessionStorage.setItem(tokenKey, data.access_token);
                console.log(data.access_token);
            }
            else {
                console.log("Error: ", response.status, data.errorText);
            }
        };

        // получаем токен
        document.getElementById("submitLogin").addEventListener("click", e => {
            //getTokenAsync();
        });

        // sessionStorage.removeItem(tokenKey);
    </script>
}
